<nav class="main-nav nav-flex container">
  <figure>
    <img src="https://i.pinimg.com/originals/66/dc/11/66dc11712e7e4210253db9a2b62aebbc.png" alt="">
  </figure>
  <ul>
    <li [routerLink]="['home']">Home</li>
    <li *ngIf="userService.writerLogged()" [routerLink]="['post']">Post</li>
    <li [routerLink]="['dnd']">DnD</li>
    <li [routerLink]="['pathfinder']">Pathfinder</li>
    <li [routerLink]="['critical_role']">Critical Role</li>
    <!-- <li>More TTRPGs</li> -->
  </ul>
  <ul>
    <li *ngIf="!userService.isLogged()" [routerLink]="['sign_up']">Sign up</li>
    <li *ngIf="!userService.isLogged()" [routerLink]="['login']">Login</li>
    <li *ngIf="userService.isLogged()" (click)="onLogout()">Logout</li>
  </ul>
</nav>