<nav class="main-nav">
  <div class="nav-flex container">
    <figure>
      <img src="https://i.pinimg.com/originals/66/dc/11/66dc11712e7e4210253db9a2b62aebbc.png" alt="">
    </figure>
    <ul>
      <li [routerLink]="['home']">Home</li>
      <li [routerLink]="['post']">Post</li>
      <li>DnD</li>
      <li>Pathfinder</li>
      <li>Critical Role</li>
      <li>More TTRPGs</li>
    </ul>
  </div>
</nav>

<!-- <ul class="nav nav-pills nav-fill">
    <li class="nav-item">
      <a class="nav-link active" href="#">Active</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Longer nav link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="#">Disabled</a>
    </li>
  </ul> -->