.nav-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(44, 43, 43, 0.953);
    padding: 10px 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.main-nav img {
    max-width: 80px;
    margin-left: 30px;
}

.main-nav ul {
    margin-top: 10px;
}

.main-nav ul li {
    display: inline-block;
    margin-right: 30px;
    padding: 5px 15px;
    border-radius: 10px;
    background-color: var(--highlight-color);
    color: var(--contrast-font-color);
    font-weight: bold;
    font-size: 125%;
    transition: .5s;
}

.main-nav ul li:hover {
    background-color: var(--highlight-color-hover);
    cursor: pointer;
}