.registration-form {
    background-color: var(--background-contrast-color);
    border-radius: 15px;
}

.registration-form h1 {
    padding: 15px;
    margin-top: 40px;
    border-radius: 15px;
    text-align: center;
}

.registration-form .hint {
    margin-top: 30px;
}

.submit-button {
    display: flex;
    justify-content: center;
}